In [1]:
#touple are immutable(ie they cannot be changed) this is how a touple is created
x=(1, 'a', 2, 'b')
type(x)

tuple

In [2]:
#lists are mutable they can be changed and modified
y=[1, 'a', 2, 'b']
type(y)

list

In [3]:
y.append(3.3)
print(y)

[1, 'a', 2, 'b', 3.3]

In [7]:
for item in x:
    print(item)
    
for item in y:
    print(item)

1
a
2
b
1
a
2
b
3.3

In [11]:
i=0
while( i != len(y) ):
    print(y[i])
    i=i+1

1
a
2
b
3.3

In [18]:
min(1,2,3.1)

1

In [17]:
max(1,2,3.1 )

3.1

In [19]:
#list concatination
[1,2]+[3,4]

[1, 2, 3, 4]

In [20]:
[1]*3

[1, 1, 1]

In [21]:
1 in [1,2,3]

True

In [22]:
4 in [1,2,3]

False

In [31]:
#slicing
x= "This is a string"
print(x[0])
print(x[0:1])
print(x[0:2])
print(x[-1])
print(x[-4:-1])
print(x[:3])
print(x[3:])

T
T
Th
g
rin
Thi
s is a string

In [34]:
#slicing
x = 'Dr. Christopher Brooks'

print(x[3:-7])

 Christopher

In [44]:
#slicing
firstname= 'Christopher'
lastname= 'Noulan'
print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)
print('chris' in firstname)

Christopher Noulan
ChristopherChristopherChristopher
True
False

In [46]:
#slicing
firstname= 'Christopher Arthur Brook Banes'.split(' ')[0]
lastname= 'Christopher Arthur Brook Banes'.split(' ')[-1] 
print(firstname)
print(lastname)

Christopher
Banes

In [6]:
#dictionary
x={'Chistopher Noulan': 'brookssch@umich.edu','Bill Gates': 'bill@microsoft.com'}
x["Bill Gates"]

'bill@microsoft.com'

In [8]:
#update Dictionary
x['kevin collins-thompson'] = None

In [10]:
#Values of dict
for name in x:
    print(x[name])

brookssch@umich.edu
bill@microsoft.com
None

In [12]:
#values of dictionary
for email in x.values():
    print(email)

brookssch@umich.edu
bill@microsoft.com
None

In [18]:
#print key value pair in dictionary
for name, email in x.items():
    print(name, email)

Chistopher Noulan brookssch@umich.edu
Bill Gates bill@microsoft.com
kevin collins-thompson None

In [21]:
#unpackinng touples , Lists in varibles
x=('amar', 'akhbar', 'anthony')
firstname, middlename, lastname = x

In [20]:
firstname

'amar'

In [22]:
lastname

'anthony'

In [23]:
#unpacki
x=('amar', 'akhbar', 'anthony')
firstname, middlename, lastname, email = x

ValueError: not enough values to unpack (expected 4, got 3)